<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>A Á</string>
		<key>Strings</key>
		<string>A Á</string>
	</dict>
	<key>Roman-Accent-C</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>C Č</string>
		<key>Strings</key>
		<string>C Č</string>
	</dict>
	<key>Roman-Accent-D</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ď D</string>
		<key>Strings</key>
		<string>Ď D</string>
	</dict>
	<key>Roman-Accent-E</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>E Ě É</string>
		<key>Strings</key>
		<string>E Ě É</string>
	</dict>
	<key>Roman-Accent-I</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>I Í</string>
		<key>Strings</key>
		<string>I Í</string>
	</dict>
	<key>Roman-Accent-N</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Ň N</string>
		<key>Strings</key>
		<string>Ň N</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>O Ó Ø</string>
		<key>Strings</key>
		<string>O Ó Ø</string>
	</dict>
	<key>Roman-Accent-R</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ř R</string>
		<key>Strings</key>
		<string>Ř R</string>
	</dict>
	<key>Roman-Accent-S</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>S Š</string>
		<key>Strings</key>
		<string>S Š</string>
	</dict>
	<key>Roman-Accent-T</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ť T</string>
		<key>Strings</key>
		<string>Ť T</string>
	</dict>
	<key>Roman-Accent-U</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>U Ú Ů</string>
		<key>Strings</key>
		<string>U Ú Ů</string>
	</dict>
	<key>Roman-Accent-Y</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Y Ý</string>
		<key>Strings</key>
		<string>Y Ý</string>
	</dict>
	<key>Roman-Accent-Z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Z Ž</string>
		<key>Strings</key>
		<string>Z Ž</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>a á ä</string>
		<key>Strings</key>
		<string>a á ä</string>
	</dict>
	<key>Roman-Accent-c</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>č c</string>
		<key>Strings</key>
		<string>č c</string>
	</dict>
	<key>Roman-Accent-d</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ď d</string>
		<key>Strings</key>
		<string>ď d</string>
	</dict>
	<key>Roman-Accent-e</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>e ě é ë</string>
		<key>Strings</key>
		<string>e ě é ë</string>
	</dict>
	<key>Roman-Accent-i</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>i í ï</string>
		<key>Strings</key>
		<string>i í ï</string>
	</dict>
	<key>Roman-Accent-n</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>n ň</string>
		<key>Strings</key>
		<string>n ň</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>o ó ö ø</string>
		<key>Strings</key>
		<string>o ó ö ø</string>
	</dict>
	<key>Roman-Accent-r</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>r ř</string>
		<key>Strings</key>
		<string>r ř</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>s š ß</string>
		<key>Strings</key>
		<string>s š ß</string>
	</dict>
	<key>Roman-Accent-t</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ť t</string>
		<key>Strings</key>
		<string>ť t</string>
	</dict>
	<key>Roman-Accent-u</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>ú ů u ü</string>
		<key>Strings</key>
		<string>ú ů u ü</string>
	</dict>
	<key>Roman-Accent-y</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ý y ÿ</string>
		<key>Strings</key>
		<string>ý y ÿ</string>
	</dict>
	<key>Roman-Accent-z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>z ž ź ż</string>
		<key>Strings</key>
		<string>z ž ź ż</string>
	</dict>
	<key>UI-abc</key>
	<string>abc</string>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-Bold</key>
	<string>bold</string>
	<key>UI-Cancel</key>
	<string>Cancel</string>
	<key>UI-ClearCaps</key>
	<string>CLEAR</string>
	<key>UI-ClearRecentInputs</key>
	<string>Clear Recent</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Continue</key>
	<string>Continue</string>
	<key>UI-Copy</key>
	<string>copy</string>
	<key>UI-Cut</key>
	<string>cut</string>
	<key>UI-DeleteCaps</key>
	<string>DELETE</string>
	<key>UI-Done</key>
	<string>Done</string>
	<key>UI-EmergencyCall</key>
	<string>Emergency
Call</string>
	<key>UI-Go</key>
	<string>Go</string>
	<key>UI-Italic</key>
	<string>italic</string>
	<key>UI-Join</key>
	<string>Join</string>
	<key>UI-LanguageIndicator</key>
	<string>English</string>
	<key>UI-Next</key>
	<string>Next</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Paste</key>
	<string>paste</string>
	<key>UI-Pause</key>
	<string>pause</string>
	<key>UI-Prediction</key>
	<string>Swipe down to close</string>
	<key>UI-Recents</key>
	<string>Recents</string>
	<key>UI-Redo</key>
	<string>redo</string>
	<key>UI-Return</key>
	<string>return</string>
	<key>UI-Route</key>
	<string>Route</string>
	<key>UI-Search</key>
	<string>Search</string>
	<key>UI-Select-First-Candidate</key>
	<string>next</string>
	<key>UI-Select-Next-Candidate</key>
	<string>next</string>
	<key>UI-Send</key>
	<string>Send</string>
	<key>UI-Space</key>
	<string>space</string>
	<key>UI-SpaceCaps</key>
	<string>SPACE</string>
	<key>UI-Underline</key>
	<string>underline</string>
	<key>UI-Undo</key>
	<string>undo</string>
	<key>UI-Wait</key>
	<string>wait</string>
</dict>
</plist>

